


.App {
  text-align: center;
  background-color: #1c1e21;
}

.App-logo {
  width: 225px;
  display: block;
}
.demoOverlay {
  opacity: 0;
}
.demoOverlay-fadein {
  opacity: 1;
  transition: all 200ms linear;
}
.demoOverlayBlackscreen-fadein{
  opacity: 1;
  transition: all 200ms linear;
}
.demoOverlay-fadeout {
  opacity: 0;
  transition: all 800ms linear;
}

.cutCorners {
  -webkit-clip-path: polygon(0 5%, 0 95%, 5% 100%, 95% 100%, 100% 95%, 100% 5%, 95% 0, 5% 0);
  clip-path: polygon(0 5%, 0 95%, 5% 100%, 95% 100%, 100% 95%, 100% 5%, 95% 0, 5% 0);
}

.cutCornersTag {
  -webkit-clip-path: polygon(0 10px, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0, 10px 0);
  clip-path: polygon(0 10px, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0, 10px 0);
}

.twoLinesOfText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

