.App {
  text-align: center;
 background-color: #e9e9e9;
}

.App-logo {
  width: 225px;
}
.demoOverlay {
  opacity: 0;
}
.demoOverlay-fadein {
  opacity: 1;
  transition: all 200ms linear;
}
.demoOverlayBlackscreen-fadein{
  opacity: 1;
  transition: all 200ms linear;
}
.demoOverlay-fadeout {
  opacity: 0;
  transition: all 800ms linear;
}

